<%= $game.attacker.name %> attacked <%= $game.defender.name %>
</br>
<%= $game.defender.name %>'s HP was reduced by 10
</br>
<form action="/switch" method="post">
  <input type="submit" value="OK"/>
</form>
